@font-face {
  font-family: jayMoney;
  src: url(./components/Assets/fonts/Poppins/Poppins-BoldItalic.ttf);
}
:root {
  color-scheme: light !important;
}
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body::-webkit-scrollbar {
  scrollbar-width:none;
}


