@font-face {
  font-family: jayMoney;
  src: url(./components/Assets/fonts/Poppins/Poppins-BoldItalic.ttf);
}
:root {
  color-scheme: light !important;
}
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body::-webkit-scrollbar {
  scrollbar-width:none;
}
body{
  background-image: url(./components/Assets/images/young-woman-having-face-massage-relaxing-spa-salon_176420-7546.avif);
  background-size : cover;
  background-repeat :no-repeat;
  background-position :center;
  height : 100vh;
  display :flex;
  align-items:center;
  justify-content: center;
}


